##### LOCAWEB - NAO REMOVER #####
AddHandler php56-script .php
suPHP_ConfigPath /home/dogmo1/
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . prev/php/assina.php [L]
##### LOCAWEB - NAO REMOVER #####
